# BEGIN RTP Redirects
redirect 301 /rtp180 https://www.rtp.org/program/rtp-180/
redirect 301 /rtp180/ https://www.rtp.org/program/rtp-180/
redirect 301 /thefrontier https://www.rtp.org/about-us/the-frontier/
redirect 301 /thefrontier/ https://www.rtp.org/about-us/the-frontier/
redirect 301 /about-us/us2020 https://www.rtp.org/about-us/stem-in-the-park/
redirect 301 /about-us/us2020/ https://www.rtp.org/about-us/stem-in-the-park/
redirect 301 /category/us2020 https://www.rtp.org/category/stem-in-the-park/
redirect 301 /category/us2020/ https://www.rtp.org/category/stem-in-the-park/
redirect 301 /category/stem-in-the-park/?post_type=attachment https://www.rtp.org/category/stem-in-the-park/
redirect 301 /category/uncategorized https://www.rtp.org/blog/
redirect 301 /about-rtp/rtp-companies https://www.rtp.org/map/
redirect 301 /jobs https://www.rtp.org/
redirect 301 /foodtruckrodeo https://www.rtp.org/program/rtp-food-truck-rodeo/
redirect 301 /about-rtp https://www.rtp.org/about-us/
redirect 301 /park-life/events-calendar https://www.rtp.org/events/
redirect 301 /contact-us/directions https://www.rtp.org/contact-us/
redirect 301 /contact-us/staff https://www.rtp.org/about-us/staff/
redirect 301 /choose-rtp/industries/biotechnology-life-sciences https://www.rtp.org/why-rtp/
redirect 301 /about-rtp/planning-and-progress https://www.rtp.org/about-us/
redirect 301 /park-life/recreation https://www.rtp.org/program/rtp-fit/
redirect 301 /directory https://www.rtp.org/rtp-company-directory/
redirect 301 /about-rtp/rtp-companies/2013-rtp-directory https://www.rtp.org/rtp-company-directory/
redirect 301 /choose-rtp/industries-rtps-contributions-span-sectors https://www.rtp.org/map/
redirect 301 /parkcenter https://www.rtp.org/about-us/park-center/
redirect 301 /park-center https://www.rtp.org/about-us/park-center/
redirect 301 /location/park-center https://www.rtp.org/about-us/park-center/
redirect 301 /choose-rtp/research-triangle-park-top-biotech-and-life-science-cluster https://www.rtp.org/why-rtp/
redirect 301 /rtp-softball-calendar https://www.rtp.org/program/rtp-fit/
redirect 301 /about-rtp/research-triangle-park-news https://www.rtp.org/blog/
redirect 301 /park-life/rtp-programs https://www.rtp.org/about-us/programs/
redirect 301 /bigannouncement https://www.rtp.org/blog/
redirect 301 /park-life-rtp-raleigh-durham-chapel-hill-and-beyond https://www.rtp.org/blog/
redirect 301 /choose-rtp https://www.rtp.org/why-rtp/
redirect 301 /park-life/conference-center https://www.rtp.org/events/reserve-conference-room/
redirect 301 /choose-rtp/accelerator-and-incubator-space https://www.rtp.org/map/
redirect 301 /contact-us/board-directors https://www.rtp.org/about-us/board-of-directors/
redirect 301 /entrepreneurship https://www.rtp.org/
redirect 301 /choose-rtp/available-sites https://www.rtp.org/map/
redirect 301 /park-life/wildlife https://www.rtp.org/program/environment-rtp-2/
redirect 301 /about-rtp/our-partners https://www.rtp.org/
redirect 301 /research-triangle-parks-master-plan https://www.rtp.org/about-us/park-center/
redirect 301 /park-life/conference-center/meeting-space https://www.rtp.org/events/reserve-conference-room/
redirect 301 /park-life/rtp-transit-and-transportation https://www.rtp.org/program/smartcommute-rtp/
redirect 301 /about-rtp/planning-and-progress/park-infrastructure-and-construction-updates https://www.rtp.org/about-us/park-center/
redirect 301 /choose-rtp/incentives https://www.rtp.org/why-rtp/
redirect 301 /choose-rtp/triangle-region/quality-life https://www.rtp.org/why-rtp/
redirect 301 /about-rtp/media-resources https://www.rtp.org/contact-us/
redirect 301 /choose-rtp/industries/information-technology https://www.rtp.org/why-rtp/
redirect 301 /about-rtp/news/research-triangle-park-buys-100-acres-along-i-40-intends-build-new-kind-place https://www.rtp.org/research-triangle-park-buys-100-acres-along-40-intends-build-new-kind-place/
redirect 301 /choose-rtp/triangle-region/workforce-education https://www.rtp.org/why-rtp/
redirect 301 /art https://www.rtp.org/program/art-in-the-park/
redirect 301 /about-rtp/rtp-companies/owners-tenants-association https://www.rtp.org/about-us/board-of-directors/
redirect 301 /choose-rtp/available-buildings-research-triangle-park https://www.rtp.org/map/
redirect 301 /choose-rtp/industries/nanotechnologies https://www.rtp.org/why-rtp/
redirect 301 /choose-rtp/industries/clean-green-energy https://www.rtp.org/why-rtp/
redirect 301 /park-life/rtp-programs/rtp-stem-coalition https://www.rtp.orgabout-us/us2020-2/
redirect 301 /choose-rtp/industries/advanced-gaming-e-learning https://www.rtp.org/why-rtp/
redirect 301 /park-life/events-calendar/rtp-food-truck-rodeo https://www.rtp.org/program/rtp-food-truck-rodeo/
redirect 301 /rtp-180-biotechnology-0 https://www.rtp.org/program/180-sum-triangle/
redirect 301 /choose-rtp/site-selection-services https://www.rtp.org/map/
redirect 301 /rtp-180-search-cures https://www.rtp.org/program/180-sum-triangle/
redirect 301 /rtp-180-big-data https://www.rtp.org/program/180-sum-triangle/
redirect 301 /1MC https://www.rtp.org/program/1-million-cups/
redirect 301 /about-rtp/rtp-companies/ https://www.rtp.org/rtp-company-directory/
redirect 301 /food-truck-rodeo-5 https://www.rtp.org/program/rtp-food-truck-rodeo/
redirect 301 /rtp-360-seriously-creative-research-unc-asheville https://www.rtp.org/program/180-sum-triangle/
redirect 301 /community https://www.rtp.org/programs/
redirect 301 /rtp-180-transit https://www.rtp.org/program/180-sum-triangle/
redirect 301 /sites/default/files/2013_RTP_Directory_0.pdf https://www.rtp.org/rtp-company-directory/
redirect 301 /choose-rtp/available-buildings https://www.rtp.org/map
redirect 301 /about-rtp/news/rtp-wins-national-stem-mentoring-competition-white-house-science-fair https://www.rtp.org/rtp-wins-national-stem-mentoring-competition-at-white-house-science-fair/
redirect 301 /choose-rtp/industries/wireless-telecommunications https://www.rtp.org/why-rtp/
redirect 301 /rtp-180-future https://www.rtp.org/program/180-sum-triangle/
redirect 301 /rtp-180-entrepreneurship-facing-failure-0 https://www.rtp.org/program/180-sum-triangle/
redirect 301 /park-life/rtp-programs/innovation-rtp https://www.rtp.org/program/disrupt/
redirect 301 /event-categories/networking https://www.rtp.org/events/
redirect 301 /rent-conference-center https://www.rtp.org/events/reserve-conference-room/
redirect 301 /choose-rtp/triangle-region/transportation-infrastructure https://www.rtp.org/why-rtp/
redirect 301 /rtp-180-entrepreneurship-facing-failure https://www.rtp.org/program/180-sum-triangle/
redirect 301 /rtp-180-biotechnology https://www.rtp.org/program/180-sum-triangle/
redirect 301 /park-life/events-calendar/food-truck-rodeo-5 https://www.rtp.org/program/rtp-food-truck-rodeo/
redirect 301 /rtp-180-art-triangle https://www.rtp.org/program/180-sum-triangle/
redirect 301 /park-life/events-calendar/rtp-180-social-media https://www.rtp.org/program/180-sum-triangle/
redirect 301 /food-truck-rodeo-2 https://www.rtp.org/program/rtp-food-truck-rodeo/
redirect 301 /park-life/events-calendar/category/networking https://www.rtp.org/events/
redirect 301 /www.rtp.org/foodtruckrodeo https://www.rtp.org/program/rtp-food-truck-rodeo/
redirect 301 /park-life/events-calendar/rtp-food-truck-rodeo-3 https://www.rtp.org/program/rtp-food-truck-rodeo/
redirect 301 /about-rtp/our-partners/ https://www.rtp.org/why-rtp/
redirect 301 /park-life/events-calendar/ncbiotech-jobs-network-career-fair https://www.rtp.org/events/
redirect 301 /park-life/events-calendar/category/technology https://www.rtp.org/events/
redirect 301 /files/Fact%20Sheets/08_129_rtp_pedestrian_trails_2.pdf https://www.rtp.org/events/
redirect 301 /park-life https://www.rtp.org/about-us/programs/
redirect 301 /event-categories/communitycharity-event https://www.rtp.org/event-categories/community/
# Block WordPress xmlrpc.php requests
<Files xmlrpc.php>
order deny,allow
deny from all
allow from 123.123.123.123
</Files>
# BEGIN WpFastestCache
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{HTTPS} =on
RewriteCond %{HTTP_HOST} ^www.rtp.org
# Start WPFC Exclude
# End WPFC Exclude
# Start_WPFC_Exclude_Admin_Cookie
RewriteCond %{HTTP:Cookie} !wordpress_logged_in_[^\=]+\=abtadmin|afrystock|agingrich|aherr|apenner
RewriteCond %{HTTP:Cookie} !wordpress_logged_in_[^\=]+\=ehill|hstrom|jterry|Kpatterson|mpittman
RewriteCond %{HTTP:Cookie} !wordpress_logged_in_[^\=]+\=RTPtest|scouncil|twilliams
# End_WPFC_Exclude_Admin_Cookie
RewriteCond %{HTTP_HOST} ^www.rtp.org
RewriteCond %{HTTP_USER_AGENT} !(facebookexternalhit|WhatsApp|Mediatoolkitbot)
RewriteCond %{REQUEST_METHOD} !POST
RewriteCond %{REQUEST_URI} !(\/){2}$
RewriteCond %{REQUEST_URI} \/$
RewriteCond %{QUERY_STRING} !.+
RewriteCond %{HTTP:Cookie} !wordpress_logged_in
RewriteCond %{HTTP:Cookie} !comment_author_
RewriteCond %{HTTP:Cookie} !wp_woocommerce_session
RewriteCond %{HTTP:Cookie} !safirmobilswitcher=mobil
RewriteCond %{HTTP:Profile} !^[a-z0-9\"]+ [NC]
RewriteCond %{DOCUMENT_ROOT}/wp-content/cache/all/$1/index.html -f [or]
RewriteCond /home/rtporg/public_html/wp-content/cache/all/$1/index.html -f
RewriteRule ^(.*) "/wp-content/cache/all/$1/index.html" [L]
</IfModule>
<FilesMatch "index\.(html|htm)$">
AddDefaultCharset UTF-8
<ifModule mod_headers.c>
FileETag None
Header unset ETag
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
Header set Expires "Mon, 29 Oct 1923 20:30:00 GMT"
</ifModule>
</FilesMatch>
# END WpFastestCache
# BEGIN GzipWpFastestCache
<IfModule mod_deflate.c>
AddType x-font/woff .woff
AddOutputFilterByType DEFLATE image/svg+xml
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE application/x-font-ttf
AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
AddOutputFilterByType DEFLATE font/opentype font/ttf font/eot font/otf
</IfModule>
# END GzipWpFastestCache
# BEGIN LBCWpFastestCache
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|webp|js|css|swf|x-html|css|xml|js|woff|woff2|ttf|svg|eot)(\.gz)?$">
<IfModule mod_expires.c>
AddType application/font-woff2 .woff2
ExpiresActive On
ExpiresDefault A0
ExpiresByType image/webp A2592000
ExpiresByType image/gif A2592000
ExpiresByType image/png A2592000
ExpiresByType image/jpg A2592000
ExpiresByType image/jpeg A2592000
ExpiresByType image/ico A2592000
ExpiresByType image/svg+xml A2592000
ExpiresByType text/css A2592000
ExpiresByType text/javascript A2592000
ExpiresByType application/javascript A2592000
ExpiresByType application/x-javascript A2592000
ExpiresByType application/font-woff2 A2592000
</IfModule>
<IfModule mod_headers.c>
Header set Expires "max-age=2592000, public"
Header unset ETag
Header set Connection keep-alive
FileETag None
</IfModule>
</FilesMatch>
# END LBCWpFastestCache
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress