//==================================================================
// Archive Programs Partial
// Styles for programs archive page.
// (c) Atlantic BT. All Rights Reserved.
//==================================================================

// Content
// =================================================================
.page-template-page-programs-php {
	
	.content-container {
		padding-left: 0; padding-right: 0;
	}
	.content-container .content {
		padding: 0;
	}
	.featured-banner {
		margin: 0;
	}

}