//==================================================================
// Contact Page Partial
// Styles for the Contact Us Page.
// (c) Atlantic BT. All Rights Reserved.
//==================================================================

// Vcard
// =================================================================
.vcard {

	.adr {
		@include rem(margin, 0 0 16px);
	}
	.street-address {
		display: block;
	}
	.download {
		border-top: 1px solid $color_grey; font-family: $font_semibold;
		@include rem(padding-top, 32px);
		@include rem(margin-top, 32px);
		@include rem(border-width, 1px);
	
		a {
			display: inline-block;
			@include rem(max-width, 200px);
		}
	}

}