//==================================================================
// 404 Page Partial
// Styles for the 404 Error Page.
// (c) Atlantic BT. All Rights Reserved.
//==================================================================

// Error 404
// =================================================================
.error404 {

	// Background
	// -------------------------------------------------------------
	.st-content {
		background: $color_off_white url('../img/bg_error-404.jpg') no-repeat 50% 50%; background-size: cover;
	}

	.st-content-inner {
		background: none;
		max-width: none;
	}

	.content-container {
		.content {
			background-color: rgba(0,0,0,.25); color: #fff; text-align: center;
			@include rem(padding, 20px);

			@include media($tablet) {
				@include rem(padding, 40px);
			}
			@include media($desktop) {
				float: none; width: 75%; margin: 0 auto;
				@include rem(max-width, 1024px);
				@include rem(padding, 60px);
				@include rem(margin-top, 200px);
			}
		}
		h1 {
			margin: 0; color: #fff; line-height: 1;

			@include media($desktop) {
				@include rem(font-size, 59px);
			}
			@include media($desktop_wide) {
				@include rem(font-size, 78px);
			}
		}
		h2 {
			margin: 0; color: #fff; line-height: 1.2;
		}
		.button .svg {
			position: relative;
			@include rem(top, 3px);
			@include rem(margin-right, 4px);
		}
		.button .svg * {
			fill: #fff;
		}

		.site-search {
			@include rem(margin, 0 0 20px);

			@include media($desktop) {
				position: relative; top: auto; left: auto;
			}

			input[type="search"] {
				background-color: rgba(#fff, .8); border: 0;
			}
			input[type="search"]:focus + input[type="submit"] {
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
			input[type="search"]:focus {
				background-color: #fff;
			}

		}
		.site-search + p {
			text-align: center;

			@include media($tablet) {
				display: inline-block;
				@include rem(margin-right, 20px);
			}
		}
		.site-search + p small {
			@include media($desktop) {
				font-size: 100%;
			}
		}
	}

}