/*
ABT Paging CSS
http://www.atlanticbt.com/

Author: Atlantic BT
Version: 1
Last Modified: 2011-11-30

*/

/* =Paging Base
==================================================================================================================*/

.abtcore-paging p, .abtcore-paging ul, .abtcore-paging li { display: inline; }
.abtcore-paging ul { margin-left: 1.5em; }
.abtcore-paging li a { padding: 0 .75em; }